.container {
    width: 770px;
    margin: 2rem auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.monthDisplay {
    margin-left: 5px;
    font-size: 2rem;
}

.monthButtons{
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.monthButtons button {
    width: 100px;
}

.navButton {
    height: 1.5rem;
    margin: auto;
}

.days {
    display: flex;
    text-align: center;
    margin-top: 2rem;
}
.days div {
    width: 100px;
    margin: 5px;
}

.calendar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day:hover {
    background-color: #e8faed;
}

.padding {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: lightgrey;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currentDay {
    background-color:#e8f4fa;
}

.eventModalStyles {
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

.hideEventsModal {
    display: hidden;
}

.modalBackDrop {
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
  